:root {
  --userImageDim: 100px;
}

img {
  width: var(--userImageDim);
  border-radius: 10px;
}

table {
  width: 100%;
  border-spacing: 0;
}

.tableWrapper {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  line-height: 34px;
  margin: 0 20px;
  border: none;
  padding: 8px 12px;
  flex: 1;
  background: rgba(0, 0, 0, 0.3);
  color: white;
}

.filterVerified a {
  margin-left: 20px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.filterVerified a.active {
  font-weight: bold;
  text-decoration: none;
  cursor: default;
}

th {
  background: rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: normal;
  padding: 10px;
}

td {
  padding: 5px;
  min-height: var(--userImageDim);
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

tr:hover td {
  background-color: rgba(255, 255, 255, 0.15);
}
